{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "arrow-parens": ["error", "as-needed"],
    "quotes": [2, "double", "avoid-escape"]
  }
}
